@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* background-color */
    --primary-color: #ea6c00;
    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-gray: #b9b9b9;
    --bg-soft-gray: #cacaca;
    --bg-light-gray: #eeeeee;

    /* text color */
    --text-white: #ffffff;
    --text-black: #000000;
    --text-gray: #838383;
    --text-soft-gray: #cacaca;

    /* icon  */
    --primary-icon: #ea6c00;
    --yellow-icon: #ffd600;

    /* font-style */
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --fancy-font: "Yellowtail", cursive;

}

body {
    font-family: var(--primary-font);
}

a {
    text-decoration: none !important;
    color: var(--text-black) !important;
}

p {
    font-size: 1.125rem;
}

h1 {
    font-size: 2.8125rem;
}

h2 {
    font-size: 1.5625rem;
}

h4 {
    font-size: .875rem !important;
}

h5 {
    font-size: .875rem;
}

.opac {
    opacity: 0;
}


.primary-btn {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-white);
    background-color: var(--primary-color);
    font-style: var(--secondary-font);
    padding: 10px 20px;
    min-width: 120px;
    border: none;
    outline: none;
    border-radius: 30px;
    line-height: 19px;
}

.primary-btn:hover {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


/* header */
.header-wrapper .nav-item .nav-link {
    letter-spacing: -1px;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-black);
    font-family: var(--secondary-font);
    position: relative;
    /* margin: 0 5px; */
}

.header-wrapper .head-icon,
footer i {
    font-size: 15px;
    cursor: pointer;
    transition: transform .3s ease;
    color: var(--text-gray);
    gap: 3px;
}

.header-wrapper i:hover,
.header-wrapper .megaMenubtn:hover img,
footer i:hover {
    color: var(--primary-color) !important;
    transform: scale(1.2) !important;
}

.header-wrapper .nav-item a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.header-wrapper .nav-item a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu ul li {
    list-style: none;
}

.header-wrapper .dropdown-toggle::after {
    display: none;
}

.header-wrapper .showww {
    visibility: visible;
}

.header-wrapper .head-icon i:first-child {
    display: none !important;
}

.header-wrapper .fa-magnifying-glass {
    cursor: pointer;
}

/* cart-hover */
.header-wrapper .cart-hover img {
    width: 120px;
    height: 120px;
}

.header-wrapper .cart-hover i {
    transform: scale(1);
}

.header-wrapper .cart-hover p {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: bold;
}

.header-wrapper .cart-hover span {
    font-size: 14px;
}

.header-wrapper .dropdown-menu button {
    background-color: var(--bg-black);
    animation: none;
    width: 80%;

}

.header-wrapper .dropdown-menu span:last-child {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 25px;
}

.header-wrapper .cart-hover .fa-xmark:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.header-wrapper .cart-hover .fa-xmark {
    color: var(--text-gray);
    font-size: 20px;
}

.header-wrapper.dropdown-item.active,
.dropdown-item:active {
    color: black !important;
    text-decoration: none;
    background-color: transparent !important;
}

/* mega menu  */
.header-wrapper .megaMenu {
    position: absolute;
    background-color: #e1e1ff00;
    width: 100%;
    left: 0;
    top: 50px;
    visibility: hidden;
    z-index: 999;
}

.shoow {
    visibility: visible !important;
}

/*  */
.megamenu1 {
    position: relative;
}

.megamenu1 .megamenu-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    background-color: #f5f5f5;
    height: 300px !important;
    opacity: 0;
    display: none;
}

.megamenu1:hover .megamenu-links {
    display: block;
    opacity: 1;
}

.megaMenu .col-12 {
    min-width: 200px;
    border: 1px solid gainsboro;
    padding: 0;
    border-top: none;
}

.megamenu-links li {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

.megaMenu .megamenu-links p a {
    color: orange !important;
}

.megaMenu .megamenu1 img {
    width: 150px;
    height: 150px;
}

.megaMenu .image-section {
    height: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* hero */
.hero-wrapper {
    background-image: url(/images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-wrapper .hero-right p:nth-child(1) {
    font-family: var(--fancy-font);
    color: var(--primary-color) !important;
}

.hero-wrapper .hero-right p {
    color: var(--text-gray);
}

/* banner  */
.banner-wrapper .banner-box,
.banner-wrapper .banner-center {
    max-width: 100%;
    /* height: 250px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.banner-wrapper .banner-box img {
    border-radius: 20px;
}

.banner-wrapper .banner-box .banner-text p,
.banner-wrapper .banner-center .banner-text p {
    font-size: 15px;
}

.banner-wrapper .banner-box .banner-text h2 {
    position: relative;
}

.banner-wrapper .banner-box .banner-text h2::after {
    color: var(--primary-color);
    position: absolute;
    left: 0;
    top: -30px;
    font-family: var(--fancy-font);
}

.banner-wrapper .banner-box .box-1 h2::after {
    content: "men";
}

.banner-wrapper .banner-box .box-2 h2::after {
    content: "Kid's";
}

.banner-wrapper .banner-box .box-4 h2::after {
    content: "Women";
}

.banner-wrapper .banner-box .box-5 h2::after {
    content: "Accessories.";
}

.banner-wrapper .banner-center .box-3 h2 span:nth-child(1) {
    font-size: 1.5625rem;
    font-family: var(--fancy-font);
    color: var(--primary-color);
    margin-right: 13px;
}

/* deal  */
.deal-wrapper .deal-month {
    color: var(--primary-color);
    font-size: 1rem;
    font-family: var(--fancy-font);
}

.deal-wrapper .deal-timer span {
    background-color: var(--bg-white);
    padding: 5px;
    font-size: 1.875rem;
    margin: 0 5px;
    font-weight: 500;
}

.deal-wrapper .deal-timer span:nth-child(1) {
    position: relative;
}

.deal-wrapper .deal-timer span:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--bg-soft-gray);
    right: 60px;
    top: 50%;
}

.deal-wrapper .deal-timer span:nth-last-child(1) {
    position: relative;
}

.deal-wrapper .deal-timer span:nth-last-child(1)::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--bg-soft-gray);
    left: 60px;
    top: 50%;
}

.deal-wrapper .deal-timer .day-timer {
    position: relative;
}

.deal-wrapper .deal-timer .day-timer::after {
    content: "DAYS";
    position: absolute;
    bottom: -15px;
    font-size: 15px;
    left: 0;
    padding: 3px;
    color: var(--bg-gray);
}

.deal-wrapper .deal-timer .hour-timer {
    position: relative;
}

.deal-wrapper .deal-timer .hour-timer::after {
    content: "HOURS";
    position: absolute;
    bottom: -15px;
    font-size: 15px;
    left: 0;
    padding: 3px;
    color: var(--bg-gray);
}

.deal-wrapper .deal-timer .min-timer {
    position: relative;
}

.deal-wrapper .deal-timer .min-timer::after {
    content: "MINS";
    position: absolute;
    bottom: -15px;
    font-size: 15px;
    left: 0;
    padding: 3px;
    color: var(--bg-gray);
}

.deal-wrapper .deal-timer .sec-timer {
    position: relative;
}

.deal-wrapper .deal-timer .sec-timer::before {
    content: "SECS";
    position: absolute;
    bottom: -15px;
    font-size: 15px;
    left: 0;
    padding: 3px;
    color: var(--bg-gray);
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    border: 1px solid var(--bg-soft-gray);
    border-radius: 5px;
}

.swiper-slide img {
    display: block;
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: 2px auto;
}

.deal-wrapper .mySwiper1 .slide-icon i {
    background-color: var(--bg-soft-gray);
    padding: 10px;
    border-radius: 50%;
    color: var(--text-black);
    cursor: pointer;
    margin: 0 5px;
}

.deal-wrapper .mySwiper1 .slide-icon i:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

.deal-wrapper .mySwiper1 .slide-text span:nth-child(1) {
    color: var(--primary-color);
    font-family: var(--fancy-font);
    padding-right: 15px;
}

.deal-wrapper .mySwiper1 .slide-text span:nth-child(2) {
    color: var(--primary-color);
}

.deal-wrapper .mySwiper1 .slide-text p span {
    text-decoration: line-through;
    color: var(--bg-gray) !important;
    font-size: 12px;
}

.deal-wrapper .mySwiper1 .slide-text p {
    color: var(--text-gray);
}

/* service */
.service-wrapper {
    background-image: url(/images/service-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-wrapper .servicee {
    background-image: url(/images/z-inex-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-wrapper .service-text p:nth-child(1) {
    font-family: var(--fancy-font);
    color: var(--primary-color);
    /* padding: 0 !important; */
    margin: 0 !important;
}

.service-wrapper .service-box i {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
}

.service-wrapper .service-box p {
    font-size: 15px;
}

/* product */
.product-wrapper .nav-item .nav-link,
.main-product-wrapper .nav-item .nav-link {
    background: transparent !important;
    color: var(--text-gray) !important;
    border-radius: 0;
    position: relative;
}

.product-wrapper .nav-item,
.main-product-wrapper .nav-item {
    background-color: var(--bg-light-gray) !important;
    margin: 0 1px;
}

.product-wrapper .nav-item .nav-link.active:after,
.main-product-wrapper .nav-item .nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #ea6c00;
    overflow: hidden;
    left: 0;
    bottom: 0;

}

.product-wrapper .nav-item .nav-link.active,
.main-product-wrapper .nav-item .nav-link.active {
    color: var(--text-black) !important;
    font-weight: 500;
    transition: color .5s ease;
}

/* producd grid  */
.product-card {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.product-card img {
    max-width: 100%;
    /* height: auto; */
    height: 300px;
    margin-bottom: 15px;
}

.product-card .card-text {
    color: gold;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card .card-title {
    margin-bottom: 10px;
    font-weight: bold;
}


.product-card .price {
    color: var(--text-gray);
    font-size: 16px;

}

.product-listing {
    text-align: center;
    margin-top: 20px;
}

.product-listing button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--text-white);
    font-weight: bold;
}

.product-listing button:hover {
    background-color: #e68900;
}

/* subscribe */
.subscribe-wrapper {
    background-color: var(--bg-soft-gray);
    padding: 50px 0;
}

.subscribe-wrapper button:hover {
    animation: myh2 2s ease 0s 1 normal forwards;
}

@keyframes myh2 {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

.subscribe-wrapper :focus,
.subscribe-wrapper :active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.subscribe-wrapper input {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.subscribe-wrapper .subscribe-btn {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-white);
    background-color: var(--primary-color);
    font-style: var(--secondary-font);
    padding: 0px 20px;
    min-width: 130px;
    border: none;
    outline: none;
    border-radius: 15px;
    line-height: 19px;
}

.subscribe-wrapper .form-floating {
    width: calc(100% - 130px) !important;
}

/* footer  */
footer {
    padding: 50px 0;
}

footer a {
    color: var(--text-black) !important;
}

footer p {
    margin: 0;
    font-size: 14px;
    padding: 8px 0;
}

/* shop page  */

/* shop banner  */
.shop-banner-wrapper .shop-banner {
    text-align: left;
    padding: 20px 0;
}
.shop-banner-wrapper .row:first-child{
    background-color: beige;
    margin-bottom: 40px;
}

.shop-banner img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: darken;
}

/* down-banner */
.down-banner-left {
    color: var(--text-gray) !important;
    font-size: 14px !important;
}

.down-banner-left .dropdown {
    border: 1px #838383 solid;
    border-radius: 5px;
}

.down-banner-left .dropdown a:focus,
.down-banner-left .dropdown a:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* price slider  */


.shop-banner-wrapper .slider-value {
    display: flex;
    justify-content: space-between;
}

.shop-banner-wrapper .slider-value p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.shop-banner-wrapper .slider-range {
    width: 100%;
    height: 6px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

/* 
.slider-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: orange;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
}

.slider-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: orange;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
} */

.single-pruduct .single-prod-right .single-prod-star {
    color: gold !important;
    font-size: 18px;
}

.single-pruduct .single-prod-right>div span {
    color: var(--text-gray);
}

.single-pruduct .single-prod-right hr {
    width: 50px;
    background-color: var(--primary-color);
    height: 3px;
    opacity: 1;
}

.single-pruduct .single-prod-right p {
    color: var(--text-gray);
    font-size: 15px;
}

.single-pruduct .single-pro-btn i {
    padding: 8px;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 20px;
    border: 2px solid var(--primary-color);
    margin-left: 5px;
}

.single-pruduct .single-prod-price span {
    color: var(--text-gray);
    font-size: 15px;
}

.single-pruduct .single-prod-price p {
    color: var(--primary-color);
    font-size: 30px;
    position: relative;
}

.single-pruduct .single-prod-price p::after {
    content: "discount 25%";
    position: absolute;
    font-size: 12px;
    left: 0;
    bottom: -10px;
    color: var(--text-black);
}

/* single-prod-left */
/* sldier */
.single-prod-left {
    min-width: 300px;
    width: 80%;
    margin: 0 auto;
}

/* single-prod-tab */
.single-prod-tab .nav-item .nav-link {
    color: var(--text-gray) !important;
    background-color: transparent !important;
    text-transform: uppercase;
}

.single-prod-tab .nav-item .nav-link:hover {
    color: var(--text-black) !important;
    font-weight: 600;
}

.single-prod-tab .nav-item .nav-link.active {
    color: var(--text-black) !important;
    font-weight: 600;
    position: relative;
}

.single-prod-tab .nav-item .nav-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #e68900;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* .review  */
.single-prod-tab .review-header a {
    color: var(--text-gray) !important;
}

.single-prod-tab .review-body {
    border-radius: 8px;
    /* min-width: 60%; */
    /* max-width: 80%; */
    margin: 0 auto;
}

.single-prod-tab .review-body .review-body-right .star-icon {
    color: gold !important;
}

.single-prod-tab .review-body .review-body-right .date,
.single-prod-tab .review-body .review-body-right .rating {
    color: var(--text-gray);
}

/* cart  */
.cart-wrapper .cart>div {
    background-color: var(--bg-light-gray);
    padding: 5px 10px;
    text-align: center;
}

.cart-wrapper .name-cart p,
.cart-wrapper .cart-ptice span {
    color: var(--text-gray) !important;
    font-size: 14px !important;
}

.cart-wrapper .total-price p,
.cart-wrapper .promo-end .sub-total {

    color: var(--primary-color) !important;
    font-weight: bold;
    font-size: 1.5625rem;
}

.cart-wrapper .promo-form p {
    color: var(--text-gray);
    font-size: 14px;
}

.cart-wrapper .promo-form .promo-btn {
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 20px;
    /* min-width: 120px; */
    padding: 0 10px !important;
    font-style: var(--secondary-font);
}

.cart-wrapper .botton-checkout button {
    font-size: 12px !important;
}

.cart-wrapper .botton-checkout button {
    background-color: var(--bg-black);
}

.cart-wrapper .botton-checkout button:last-child {
    background-color: var(--primary-color) !important;
}


/* checkout  */
.checkout-wrapper>div>div p {
    color: var(--text-gray);
    font-size: 14px;
}

/* about us  */
.about-wrapper,
.contact-wrapper {
    background-image: url(/images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-wrapper img {
    max-width: 500px;
    width: 100%;
    mix-blend-mode: darken;
}

/* contact */
.contact-wrapper .contact-img img {
    max-width: 100%;
    width: 500px;
    padding: 20px;
}

.contact-wrapper .contact-info h5,
.contact-wrapper .contact-info p {
    margin: 0;
}

.contact-wrapper .contact-info p a {
    color: #FF7C00;
    text-decoration: none;
}

.contact-wrapper .contact-info p a:hover {
    text-decoration: underline;
}

.contact-wrapper .contact-info .highlight {
    color: #FF7C00;
    font-weight: bold;
}

/* blog  */
.blog-wrapper .nav-item .nav-link {
    background: transparent !important;
    color: var(--text-gray) !important;
}

.blog-wrapper .nav-item .nav-link.active {
    background-color: #000000 !important;
    color: var(--text-white) !important;
}

.blog-wrapper .tab-content .blog-box img {
    max-width: 250px;
}

/* blog-right-side */
.blog-right-side-wrapper .list-group-item {
    background-color: #f8f9fa;
    color: #6c757d;
    font-weight: 500;
}

.blog-right-side-wrapper .list-group-item.active {
    background-color: #ffffff;
    border-left: 3px solid #FF7C00;
    font-weight: bold;
    color: #333333;
}

.blog-right-side-wrapper .list-group-item:hover {
    background-color: #e9ecef;
}

.blog-right-side-wrapper .Tags a {
    padding: 5px 10px;
    border: 1px solid var(--text-gray);
    background-color: var(--bg-white);
    color: var(--text-black);
}

/* blog-single-wrapper */
.blog-single-wrapper .blog-single-title p {
    font-size: 14px !important;
    color: var(--text-gray);
}

.blog-single-wrapper .blog-single-body img {
    max-width: 100%;
}

.blog-single-wrapper .blog-single-body>div {
    border-left: 2px solid var(--primary-color);
    font-family: var(--fancy-font);
    font-size: 20px;
}

.blog-single-wrapper .blog-single-author {
    height: 250px;
    background-color: var(--primary-color);
    font-family: var(--fancy-font);
    padding: 0 50px;
    color: var(--text-white);
    text-align: center;
    position: relative;
    /* margin-top: 50px; */
}

.blog-single-wrapper .blog-single-author img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    top: -30px;
    padding: 5px;
}

.blog-single-wrapper .blog-single-comment span {
    font-size: 12px;
    color: var(--text-gray);

}

.blog-single-wrapper .blog-single-comment span:nth-child(1) {
    color: var(--primary-color) !important;
}